/* Style for the HTML page */
html {
  height: 100%;
  width: 100%;
  /* Background image */
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* Uses the Roboto font for all the texts */
  font-family: 'Roboto', sans-serif;
}

/* Style for the body */
.body {
  padding: 0;
  margin: 0;
}

/* Style for the logo */
.logo {
  float: left;
}

/* Style for the navbar */
.navbar {
  justify-content: space-evenly;
  padding: 50px;
  display: flex;
}

/* Style for the links in the navbar */
.navbar a {
  font-size: 50px;
  text-decoration: none;
  color: black;
}

/* Makes the navbar texts turn white when hovering over it */
.navbar a:hover {
  color: white;
}

/* Style for the login box */
.login-box {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 25px;
  background-color: #0085FF;
}

/* Style for the login button */
button {
  background-color: #0085FF;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}